.container {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transform-origin: right;
  background-color: white;
  border: 4px solid #051c2c;
}
