.sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 15%;
  background-color: #051c2c;
}
.sidebar-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-items {
  position: relative;
  transform: translateX(-50%);
  background-color: #00b0ab;
  width: 200px;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 30px;
}
.sidebar-items:last-child {
  margin-bottom: 0px;
}
